table {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
  transition: all 0.5s ease-in-out;
}

table thead {
  font-size: 0.7rem;
  color: #83e6c0;
  transition: all 0.5s ease-in-out;
}

table tbody {
  font-family: "Fira Code", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
  transition: all 0.5s ease-in-out;
}

/* When in results mode, increase font sizes */
:host-context(.results-mode) table {
  max-width: none;
  width: 95%;
}

:host-context(.results-mode) table thead {
  font-size: 0.9rem;
}

:host-context(.results-mode) table tbody {
  font-size: 1rem;
}

/* Message when no results */
.center {
  text-align: center;
  margin: 2rem;
  color: #c2e9e0;
}
